<div class="row">
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../assets/images/portfolio/neuron.png">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_one}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_one_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_one_description}}</p>
        <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="https://youtu.be/amuV0z9eVg4" target="_blank"><i class="material-icons right">videocam</i>Demo video</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../assets/images/laptop.png" style="height:240px;width:470px">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_two}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_two_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_two_description}}</p>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card medium sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../assets/images/portfolio/arm-emulator.png" style="height:240px;width:440px;margin-left:auto;margin-right:auto">
      </div>
      <div class="card-action">
        <span class="card-title activator grey-text text-darken-4">{{site.project_three}}<i class="material-icons right">more_vert</i></span>
        <p><a href="{{site.project_three_url}}" target="_blank">{{site.project_button}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <p>{{site.project_three_description}}</p>
      </div>
    </div>
  </div>
    <div class="col s12 m6">
      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../assets/images/portfolio/acecaddie.png" style="height:240px;width:240px;margin-left:auto;margin-right:auto">
        </div>
        <div class="card-action">
          <span class="card-title activator grey-text text-darken-4">{{site.project_four}}<i class="material-icons right">more_vert</i></span>
          <p><a href="{{site.project_four_url}}" target="_blank">{{site.project_button}}</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <p>{{site.project_four_description}}</p>
          <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="https://dharshana1407.wixsite.com/acecaddie" target="_blank"><i class="material-icons right">library_books</i>More info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 m6">
        <div class="card medium sticky-action">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/images/portfolio/sortbot.png" style="height:250px;width:250px;margin-left:auto;margin-right:auto">
          </div>
          <div class="card-action">
            <span class="card-title activator grey-text text-darken-4">{{site.project_five}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{site.project_five_url}}" target="_blank">{{site.project_button}}</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <p>{{site.project_five_description}}</p>
            <a class="waves-effect grey darken-2 z-depth-4 waves-light btn" href="../assets/videos/sortbot.mp4" target="_blank"><i class="material-icons right">videocam</i>App demo</a>
          </div>
        </div>
      </div>
        <div class="col s12 m6">
          <div class="card medium sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../assets/images/portfolio/2048.png" style="height:240px;width:240px;margin-left:auto;margin-right:auto">
            </div>
            <div class="card-action">
              <span class="card-title activator grey-text text-darken-4">{{site.project_six}}<i class="material-icons right">more_vert</i></span>
              <p><a href="{{site.project_six_url}}" target="_blank">{{site.project_button}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              <p>{{site.project_six_description}}</p>
            </div>
          </div>
        </div>
      </div>
